.toggle-container {
    position: fixed;
    top: -40px;
    right: 20px; 
    z-index: 999; 
  }

  .toggle {
    visibility: hidden;
  }

  .toggle + label {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: var(--secondary-text-color);
  }
  
  .toggle + label::before {
    content: "";
    height: 16px;
    width: 32px; 
    border-radius: 16px; 
    background-color: var(--toggle-bg);
    margin-right: 8px;
    transition: background-color 250ms ease-in-out;
  }

  .toggle + label::after {
    content: "";
    height: 12.8px; 
    width: 12.8px;
    border-radius: 12.8px;
    background-color: var(--toggle-fg);
    position: absolute;
    left: 3.2px; 
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
  }
  
  .toggle:checked + label::after {
    transform: translateX(100%);
  }

