.editQuiz-Container{
    justify-content: center;
    position: relative;
    top: 200px;
    flex-wrap: wrap;
    display: flex;
    padding: 40px;
}

.editQuiz-Card {
    position: relative;
    height: 170px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-family: 'Poppins';
    border-radius: 15%;
    padding: 20px;
    line-height: 50%;
    margin: 20px;
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.editQuiz-Container a{
    text-decoration: none;
}

.icon{
    position: relative;
    height: 40px;
    top: 100px;
}