:root{
    --red: rgb(161, 0, 8);
    --yellow: rgb(255, 170, 0);
    --blue: rgb(0, 34, 98);
    --teal: rgba(0, 125, 150, 0.496);
    --pink: rgb(201, 2, 115);
    --purple: rgb(155, 2, 201);
    --black: rgb(0, 0, 0);

    --background-color: #f6f6f6;
    --foreground-color: #003cff;
    --primary-text-color: #0a0a0a;
    --secondary-text-color: #ffffff;
    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000;
}

[data-theme="dark"] {
    --background-color: #2b2a2a;
    --foreground-color: #567aff;
    --primary-text-color: #f6f6f6;
    --secondary-text-color: #2b2a2a;
    --toggle-bg: #283452;
    --toggle-fg: #00a6ff;
  }