.quizCardContainer {
    text-align: center;
}
.quizCard {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    float: left;
    /*display: flex;
    align-items: flex-end;*/
}
.quizCardSpace {

    width: 50px;
    height: 300px;
    float: left;
}
.separateNameAndDate {
    /*color: aqua;*/
    background-color: black;
    height: 1px;
    width: 200px;
}