.layout-details {
    position: relative;
    top: 255px;
    border-width: 15px;
    max-width: 270px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--red);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: url("cursor1.png"), auto;
}

.addQuestionBtn{
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 300px;
    left: 200px;
    cursor: pointer;
    background: var(--red);
    padding: 6px;
    border-radius: 50%;
    color: #ffffff;
    font-size: xx-large;
    border: 2px solid #fff;
    cursor: url("cursor1.png"), auto;
}

.updateQuizBtn-layout {
    position: fixed;
    top: 200px;
    left: 200px;
    cursor: url("cursor1.png"), auto;
}

.layout-details {
    position: relative;
    top: 255px;
    border-width: 15px;
    max-width: 270px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--red);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: url("cursor1.png"), auto;
}

.addQuestionBtn{
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 300px;
    left: 200px;
    cursor: pointer;
    background: var(--red);
    padding: 6px;
    border-radius: 50%;
    color: #ffffff;
    font-size: xx-large;
    border: 2px solid #fff;
    cursor: url("cursor1.png"), auto;
}

.updateQuizBtn-layout {
    position: fixed;
    top: 200px;
    left: 200px;
    cursor: url("cursor1.png"), auto;
}