

form button {
    background: var(--teal);
    border: 0;
    color: #fff;
    padding: 10px 100px;
    border-radius: 4px;
    cursor: url("cursor1.png"), auto;
}

.text {
  color: var(--primary-text-color);
}

  label, input, textarea, select {
    display: block;
    
  }
  
  input, textarea ,select{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    
  }

  textarea {
    min-width: 100%;
    min-height: 100px;
    resize: vertical;
  }

.login{
    position: relative;
    top: 10px;
    border-width: 15px;
    max-width: 270px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--red);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

form{
    border-width: 15px;
    max-width: 270px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--red);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.title-signin {
  position: relative;
  text-align: center;
  color: var(--primary-text-color);
  top: 80px;
  padding: 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signUpButton,
.forgotPasswordButton{
    margin: 0 10px;
}
