@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: "Poppins";
  cursor: url("cursor1.png"), auto;
}